

@for(order of orders ; track $index){
    <h6>Order Id: {{order._id}}</h6>
                     <span>Date:</span><span>{{order.date |date:'mediumDate'}}</span>
    @for(item of order.items ; track $index){
                <div class="flex gap-5 bg-white border rounded-xl p-4 hover:shadow-md transition">

                    <!-- IMAGE -->
                     
                    <div class="w-28 h-28 flex-shrink-0">
                        <img [src]="item.product.images[0]" class="w-full h-full object-cover rounded-lg bg-gray-100" />
                    </div>

                    <!-- INFO -->
                    <div class="flex-1">

                        <h3 class="text-lg font-semibold text-gray-800 line-clamp-1">
                            {{item.product.name}}
                        </h3>

                        <p class="text-sm text-gray-500 mt-1 line-clamp-2">
                            {{item.product.description}}
                        </p>

                        <!-- PRICE ROW -->
                        <div class="mt-3 flex flex-wrap items-center gap-3">

                            <span class="text-2xl font-bold text-gray-900">
                                ₹{{ sellingPrice(item.product) }}
                            </span>

                            <span class="text-lg text-gray-400 line-through">
                                ₹{{ item.product.Price }}
                            </span>

                            <span class="text-xs bg-green-100 text-green-700 px-2 py-1 rounded-full font-semibold">
                                {{ item.product.discount }}% OFF
                            </span>

                        </div>

                        <!-- TOTAL -->
                        <div class="mt-2 text-sm text-gray-600">
                            Total:
                            <span class="font-semibold text-gray-900">
                                ₹{{ sellingPrice(item.product) * item.quantity }}
                            </span>
                        </div>

                    </div>

                    <!-- ACTIONS -->
                    <div class="flex flex-col items-end justify-between">

                    

                        <!-- QUANTITY -->
                        <div class="flex items-center border rounded-lg overflow-hidden mt-6">

                            

                            <span class="px-4 text-sm font-medium">
                                {{item.quantity}}
                            </span>

                          

                        </div>

                    </div>

                </div>
                }
            }