<div class="flex px-10 py-2">
    <div class="w-3/12">
        <h6>Filters</h6>
        <div class="flex flex-col">
            <div class="w-full p-2">
                <mat-form-field class="w-full">
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="categoryId" name="categoryId" (selectionChange)="categoryChange($event.value)">
                        @for(category of categories;track $index){
                        <mat-option  [value]="category._id">{{category.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full p-2">
                <mat-form-field class="w-full">
                    <mat-label>Brands</mat-label>
                    <mat-select [(ngModel)]="brandId" name="brandId" (valueChange)="brandChange()">
                         @for(brand of brands;track $index){
                        <mat-option  [value]="brand._id">{{brand.name}}</mat-option>
                         }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="flex-1">
         @if(totalPages !=0){
        <div class="flex justify-between">
        <h6>Products</h6>
        <mat-form-field class="w-40">
                    <mat-label>Order By</mat-label>
                    <mat-select  (valueChange)="orderChange($event)">
                        
                        <mat-option  [value]="1">Low to High</mat-option>
                        <mat-option  [value]="-1">High to Low</mat-option>
                 
                    </mat-select>
                </mat-form-field>
        </div>
        <div class="flex flex-wrap gap-4">
            @for(product of products; track $index){
            <div class="w-[250px]">
                <app-product-card [product]="product"></app-product-card>
            </div>
            }
        </div>

       
        <div class="flex">
        
            <button mat-raised-button color="primary" [disabled]="page==1" (click)="pageChange(page-1)">Previous</button>
            <button mat-raised-button color="primary" (click)="pageChange(page+1)" [disabled]="page==totalPages || totalPages ==0">Next</button>
        </div>
    }
   @else{
    <div class="min-h-screen  flex flex-col justify-center items-center gap-3 border-2 border-dashed border-gray-300 rounded-xl bg-gray-50">
        
        <span class="text-6xl">📦</span>

        <p class="text-2xl font-semibold text-gray-500">
            No Products Found
        </p>

    </div>
}
    </div>
</div>